.plan-steps {
  margin: 14.5rem 0 20rem 0;
  padding: 0 8.6rem;
  max-width: 100%;
  border-radius: 10px;
  .title {
    opacity: .8;
    margin-bottom: 8rem;
  }
  .steps {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 3rem;
    .line {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #FDD6BA;
    }
    .step {
      max-width: 285px;
      padding-top: 8.3rem;
      position: relative;
      .text {
        h1 {
          margin-bottom: 3.8rem;
          color: #FDD6BA;
          max-width: 255px;
        }
        h3 {
          margin-bottom: 4.2rem;
        }
        p {
          opacity: .8;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: -14px;
        left: 0;
        height: 31px;
        width: 31px;
        border-radius: 50%;
        border: 2px solid #0E8784;
        background: #FEFCF7;
      }
    }
  }
  .cta-btn {
    margin-top: 6rem;
  }
  &.inverse {
    margin: 14.5rem 0 11rem 0;
    background: #2C343E;
    padding: 9rem 8.6rem;
    .steps {
      .step {
        .text {
          h3 {
            color: #FEFCF7;
          }
          p {
            color: #FEFCF7;
          }
        }
        &::before {
          background: #FEFCF7;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .plan-steps {
    margin: 14.5rem 0 20rem 0;
    padding: 9rem 3rem;
    &.inverse {
      padding: 9rem 2rem;
    }
  }
}

@media only screen and (max-width: 750px) {
  .plan-steps {
    margin: 10rem 0 10rem 0;
    .title {
      text-align: center;
      margin-bottom: 0;
      font-size: 3.2rem;
    }
    .steps {
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0rem;
      .line  {
        display: none;
      }
      .step {
        max-width: 327px;
        &:nth-child(2) {
          padding: 0;
        }
        .text {
          h1 {
            max-width: 100%;
            margin-bottom: 2.4rem;
          }
          h3 {
            margin-bottom: 2.4rem;
          }
        }
        &::before {
          display: none;
        }
      }
    }
    .cta-btn {
      margin-top: 8.3rem;
      display: flex;
      justify-content: center;
    }
  }
}