.subscription-options {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16rem;
  .section {
    width: 255px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
  .options {
    width: 730px;
  }
}

@media only screen and (max-width: 1135px) {
  .subscription-options {
    .section {
      display: none;
    }
    .options {
      margin: 0 auto;
    }
  }
}