.subscription-section {
  padding: 2.4rem 0;
  border-bottom: 1px solid lightgrey;
  user-select: none;
  &.active {
    h4 {
      color: #333D4B;
      opacity: 1;
      span {
        color: #0E8784;
        opacity: 1;
      }
    }
  }
  h4 {
    color: #333D4B;
    opacity: .5;
    span {
      opacity: .5;
      color: #83888F;
      margin-right: 3rem;
    }
  }
}