.product-card {
  padding-top: 14rem;
  max-width: 255px;
  img {
    max-height: 193px;
    max-width: 255px;
    margin-bottom: 7.2rem;
  }
  h3, p {
    text-align: center;
  }
  h3 {
    margin-bottom: 2.4rem;
  }
}