.headquarters {
  padding: 0 9rem;
  width: 100%;
  margin-bottom: 16rem;
  .title {
    margin-bottom: 7.2rem;
  }
  .headquarters-cards {
    display: flex;
    width: 100%;
    .card {
      &:not(:last-child) {
        margin-right: 15rem;
      }
      svg {
        margin-bottom: 4.6rem;
      }
      .area {
        margin-bottom: 2.4rem;
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  .headquarters {
    padding: 0;
    .headquarters-cards {
      .card {
        &:not(:last-child) {
          margin-right: 5rem;
        }
      }
    }
  }
}