.order-summary-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .dark-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: .5;
    z-index: 5;
  }
  .order {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    max-width: 95%;
    background: #FEFCF7;
    border-radius: 10px;
    z-index: 10;
    .title {
      // For some reason parent border radius not applying here
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background: #333D4B;
      color: #FFFFFF;
      padding: 5rem 5.5rem;
    }
    .body-wrap {
      padding: 5rem 5.5rem;
      h4 {
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 5rem;
      }
      .cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .order-summary-modal {
    .order {
      .title {
        font-size: 2.8rem;
        line-height: 3.2rem;
        padding: 3.5rem 2.5rem;
      }
      .body-wrap {
        padding: 3.5rem 2.5rem;
        p {
          margin-bottom: 3rem;
        }
        .cta {
          flex-direction: column;
          align-items: flex-start;
          h3 {
            font-size: 2.4rem;
            line-height: 3.2rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}