.select-option {
  height: 250px;
  width: 228px;
  background: #F4F1EB;
  border-radius: 10px;
  padding: 3.5rem 3rem;
  cursor: pointer;
  h4 {
    margin-bottom: 2.4rem;
  }
  &.active {
    background: #0E8784;
    h4, p {
      color: #FEFCF7;
    }
  }
}