.navbar {
  // height: 11rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 4.4rem 0;
  ul {
    li {
      a {
        font-size: 1.4rem;
        text-decoration: none;
        color: #83888F;
        padding: 0 1.85rem;
        text-transform: uppercase;
        &:last-child {
          padding: 0 0 0 1.85rem;
        }
        &:hover {
          color: #333D4B;
        }
      }
    }
  }
  .hamburger-menu {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 3.2rem 0;
    ul {
      display: none;
    }
    .hamburger-menu {
      display: block;
    }
  }
}