.navbar-outer {
  position: relative;
  .navbar {
    // height: 11rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 4.4rem 0;
    position: relative;
    ul {
      li {
        a {
          font-size: 1.4rem;
          text-decoration: none;
          color: #83888F;
          padding: 0 1.85rem;
          text-transform: uppercase;
          &:last-child {
            padding: 0 0 0 1.85rem;
          }
          &:hover {
            color: #333D4B;
          }
        }
      }
    }
    .hamburger-menu {
      display: none;
    }
  }
  .mobile-slideout {
    position: absolute;
    background: linear-gradient(to top, rgba(254,252,247,0.5) 0%, rgba(254,252,247,1) 50%);
    height: 0;
    width: 100%;
    transition: all 200ms ease-in-out;
    z-index: 5;
    display: flex;
    justify-content: center;
    overflow: hidden;
    ul {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      li {
        text-align: center;
        margin-bottom: 3.2rem;
        a {
          color: #333D4B;
          font-family: 'Fraunces', serif;
          font-size: 2.4rem;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .navbar-outer {
    .navbar {
      padding: 3.2rem 0;
      ul {
        display: none;
      }
      .hamburger-menu {
        display: block;
        cursor: pointer;
      }
    }
  }
  .mobile-slideout {
    &.active {
      height: calc(100vh);
      padding-top: 8rem;
      ul {
        visibility: visible;
      }
    }
  }
}