.value {
  width: 100%;
  margin: 12rem 0;
  display: grid;
  grid-template-areas: "side-a side-b";
  grid-template-columns: 445px 1fr;
  grid-template-rows: 475px;
  grid-gap: 6rem;
  justify-content: left;
  border-radius: 10px;
  .side-a {
    grid-area: side-a;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .side-b {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    .text {
      max-width: 540px;
      h2 {
        margin-bottom: 2.4rem;
      }
      p {
        opacity: .6;
      }
    }
  }
  // switch sides of image and text
  &.inverse {
    background: #2C343E;
    grid-template-areas: "side-b side-a";
    grid-template-columns: 1fr 445px;
    justify-content: right;
    .side-a {
      img {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        object-fit: cover;
      }
    }
    .side-b {
      padding: 0 0 0 2rem;
      .text {
        h2, p {
          color: #FEFCF7;
        }
      }
    }
  }
}

@media only screen and (max-width: 985px) {
  .value {
    grid-template-columns: 281px 1fr;
    .side-a {
      max-width: 281px;
    }
    .side-b {
      .text {
        h2 {
          font-size: 3.2rem;
          line-height: 4.8rem;
        }
      }
    }
    &.inverse {
      grid-template-columns: 1fr 281px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .value {
    grid-template-areas: 'side-a' 'side-b';
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 4.8rem;
    .side-a {
      max-width: 100%;
      min-height: 300px;
      max-height: 400px;
    }
    .side-b {
      text-align: center;
    }
    &.inverse {
      grid-template-areas: 'side-a' 'side-b';
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      .side-a {
        img {
          border-bottom-right-radius: 0;
          border-top-left-radius: 10px;
        }
      }
      .side-b {
        padding: 0 2rem 4.8rem 2rem;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .value {
    margin: 5rem 0;
  }
}