.value {
  width: 100%;
  margin: 16rem 0;
  display: flex;
  .side-a {
    img {
      border-radius: 10px;
    }
  }
  .side-b {
    display: flex;
    align-items: center;
    .text {
      margin-left: 12.5rem;
      max-width: 540px;
      h2 {
        margin-bottom: 2.4rem;
      }
      p {
        opacity: .6;
      }
    }
  }
}