.footer-main {
  width: 100%;
  background: #2C343E;
  margin-bottom: 8.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem 8.5rem;
  .side-a {
    display: flex;
    .logo {
      margin-right: 10rem;
    }
    ul {
      display: flex;
      align-items: center;
      li {
        a {
          font-size: 1.4rem;
          text-decoration: none;
          color: #83888F;
          // padding: 0 1.85rem;
          margin-left: 3.5rem;
          text-transform: uppercase;
          &:hover {
            color: #FEFCF7;
          }
        }
      }
    }
  }
  .side-b {
    .social-media {
      justify-self: right;
      svg {
        margin-left: 2.4rem;
        cursor: pointer;
        &:hover {
          path {
            fill: #FDD6BA;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1090px) {
  .footer-main {
    flex-direction: column;
    .side-a {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logo {
        margin: 0 0 3.2rem 0;
      }
      ul {
        margin-bottom: 6.5rem;
        li {
          a {
            // margin-left: 0;
          }
        }
      }
    }
    .side-b {

    }
  }
}